{% extends "base.html" %}

{% block content %}
<div class = 'container'>
    <h1 class="my_title col-md-12" style='color:#00ccff; text-align: center; border: 2px solid #00ccff;'>
    <strong>{{title}}</strong></h1>
    
<strong>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3 my_filter" style='text-align: right; padding: 5px; margin-top:-5px'>
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                <img src='/static/shop_cart.png' width="40" height="40">
                <a style='color:green; font-size: 18px' href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }}:
                    ${{ cart.get_total_price }}</a>
            {% else %}
                <img src='/static/shop_cart.png' width="40" height="40" style='color:green'>&nbsp
                <a style='color:yellow; font-size: 18px'><strong>Your cart is empty</strong></a>
            {% endif %}               
        {% endwith %}
    </div>     
</strong>

	<table class="cart my_content" style='background-color: #fff;'>
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>                
                <th>Resulting price</th>
            </tr>
        </thead>

        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr style='border: 2px solid black'>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                    <img src="/media/{{ product.image }}" width="240" height="240">
                    </a>
                </td>
                <td>
                	<h3 class='order_prod_name' style='color:rgb(102, 0, 102)'>{{ product.name }}</h3>
                </td>
                <td>
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}<br><br>
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url "cart:cart_remove" product.id %}">Remove</a></td>
                <td><h3 style='color:rgb(57, 172, 115)'>${{ item.price }}</h3></td>
                <td><h3 style='color:rgb(51, 51, 255)'>${{ item.total_price }}</h3></i></td>
            </tr>
            {% endwith %}
        {% endfor %}

            {% if cart.coupon %}
	        <tr class="subtotal" >
	            <td><h4>Subtotal</h4></td></td>
	            <td colspan="4"></td>
	            <td class="num"><h4>${{ cart.get_total_price }}</h4></td>
	        </tr>
	        <tr>
                <td><h4 class='order_off'>
                "{{ cart.coupon.code }}" coupon
                ({{ cart.coupon.discount }}% off)</h4>
                </td>
            <td colspan="4"></td>
            <td class="num neg">- ${{ cart.get_discount|floatformat:"2" }}</td>
            </tr>
        	{% endif %}
        	<tr class="total">
            	<td><h3 class='order' style='color:yellow'>
                <strong>Total</strong></h3></td>
            	<td colspan="4"></td>
            	<td class="num"><h3 class='order' style='color:yellow;'>
                <strong>${{ cart.get_total_price_after_discount|floatformat:"2" }}</strong></h3></td>
        	</tr>
        </tbody>
    </table>

    	<div class='my_content' style='padding-bottom: 15px'>
        <form action="{% url "coupons:apply" %}" method="post" style='margin-left:20px; padding-bottom: 10px;'>
    		{% csrf_token %}
    		{{ coupon_apply_form.as_p }}
 			<br>&nbsp&nbsp
        	<input class="btn btn-default" type="submit" value="Apply">
    	</form>
    	<p class="text-right" style='margin-right:15px'>
        	<a href="{% url "shop:index" %}" class="button light">Continue shopping</a>
        	{% if cart.get_discount or cart.get_total_price_after_discount > 0%}
        	<a href="{% url "order:order_create" %}" class="button">Checkout</a>
        	{% endif %}
    	</p>
    </div>
</div>
{% endblock content %}
