<strong>
    <div class="col-md-2 my_filter" style='text-align: center; background-color: green; padding: 5px; margin-top: 15px'>
        <a href ="{% url 'shop:index'%}" style='color:black'>All Products&nbsp</a></li>
    </div>

    <div class="col-md-2" style='text-align: center; background-color: red; margin-top: 15px'>
        <div data-toggle="dropdown" class="dropdown-toggle my_filter" style="padding: 5px;">By Category &nbsp<b class='caret'></b></div>
            <ul class="dropdown-menu dropdown-menu-right">
                {% for category in category_list %}
            <li><a href ="{% url 'shop:product_list_by_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3 my_filter" style='text-align: right; padding: 5px; margin-top:-5px'>
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                <img src='/static/shop_cart.png' width="40" height="40">
                <a style='color:green; font-size: 18px' href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }}:
                    ${{ cart.get_total_price }}
                </a>
            {% else %}
                <img src='/static/shop_cart.png' width="40" height="40" style='color:green'>&nbsp
                <a style='color:yellow; font-size: 18px'><strong>Your cart is empty</strong>
                </a>
            {% endif %}               
        {% endwith %}
    </div>     
</strong>