{% extends "base.html" %}

{% block content %}
<div class = 'container'>
    <h1 class="my_title col-md-12" style='color:orange; text-align: center'><strong>
		<a style='color:#00ff99'>Last Musicians:</a>
    </strong></h1>

	<div class="my_content col-md-12" style='text-align: center; padding-bottom: 0px'>
		<div class='row'>
        {% for musician in last_musicians %}
            <a href="{{ musician.get_absolute_url }}">
            <div class="product col-sm-6 col-md-4 col-lg-3"><br>
              	<img src='/media/{{ musician.avatar }}' width="240" height="240" style='border: 4px solid yellow;'>
               	<h4 style="color:green; font-size:16px"><strong>{{musician.full_name}}</strong></h4>
           	</div></a>
        {% endfor %}
        </div>
    </div>

        <h1 class="my_title col-md-12" style='color:orange; text-align: center'><strong>
		<a style='color:#ff9933'>Most Popular Articles:</a>
    	</strong></h1>

    	<div class="my_content col-md-12" style='text-align: center; padding-bottom: 0px'>
			<div class='row'>
            {% for article in popular_articles %}
                <a href="{{ article.get_absolute_url }}">
                <div class="product col-sm-6 col-md-4 col-lg-3"><br>
                	<img src='/media/{{ article.icon }}' width="240" height="240" style='border: 4px solid yellow;'>
                	<h4 style="color:green; font-size:16px"><strong>{{article.title}}</strong></h4>
            	</div></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
