{% extends "base.html" %}

{% block content %}
<div class = 'container'>
    <h1 class="my_title col-md-12" style='color:#ffff66; text-align: center; border: 2px solid #ffff66;'><strong>{{title}}</strong></h1>

	{% include 'userprofiles/profile_filters.html' %}

    <div class="my_content col-md-8" style='text-align: center; border: 4px groove black; padding-bottom: 20px'>
        <h4 style='text-align:left; color:#001a33; font-size: 16px; padding-left: 10px;padding-top: 10px; '>
        <a style='color:green'><strong>{{user.username}}'s </strong></a>profile</h4>
		<div class = 'col-md-6' style='padding: 5px; text-align: center; border: 2px groove #222'>
		    {% if profile.profile_picture%}
		        <img src='/media/{{ profile.profile_picture }}' width="345" height="345">
		    {% else %}
		    	<img src='/media/user_avatars/default.jpg ' width="345" height="345">
		    {% endif %}
		</div>

			<div class='col-md-6'>
				<div>
					Joined at<br>
					<a style='color:green'>{{user.date_joined}}</a><hr style="height:1px; border:none; background-color:#222;" />
				</div>
			</div>

			<div class ='col-md-2' style='font-size: 16px; text-align: justify; padding-right: 15px; color:#24478f'>
				Username:<br> 
				Email:<br>
				Company:<br>
				Website:<br>
				First Name:<br>
				Last Name:<br>
				Location:<br>
				Gender:<br>
				Age:<br>
			</div>

			<div class ='col-md-4' style='font-size: 16px; text-align: right; color:#5c5c3d'>
			<strong>
				{{user.username}}<br>
				{{user.email}}<br>
				{{profile.company}}<br>
				<a href='{{profile.website}}'>{{profile.website}}</a><br>
				{{user.first_name}}<br>
				{{user.last_name}}<br>
				{{profile.location}}<br>
				{{profile.gender}}<br>
				{{profile.age}}<br>
			</strong></div>
	</div>
</div>
{% endblock content %}